SQLALCHEMY_DATABASE_URL=postgresql://user:password@localhost:5432/db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
PGDATA=/var/lib/postgresql/data/pgdata
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme
